.Games .Games__add-a-game
{
    margin-top: 2em;
    border-top: 1px solid $color;
    padding: 1em 1em 1em 0;
    position: sticky;
    bottom: 0;
    background: white;
    padding-bottom: 1em;
}
.Games
{
    overflow: visible !important;
    display: flex; 
    //flex-wrap: wrap;
    flex-direction: column;
    @include animated;

    &:not(.Games--visible)
    {
        transform: translateX(-100%);
    }

    > .GameList
    {
        flex-grow: 1;
        flex-shrink: 1;
        overflow-y: auto;
    }
}
.Games__toggle-btn
{
    @include no-button-style;
    position: absolute;
    right: 0;
    top: 2em;
    transform: translateX(99%);
    z-index: 2; 
    color: $background_light;
    background: lighten($color,5%);
}