.GameList
{
    margin: 0;
    padding: 0;

    @media (max-width: 1620px) and (min-width: $phone_width + 1)
    {
        font-size: .85em;
    }

    @media (max-width: 1350px) and (min-width: $phone_width + 1)
    {
        font-size: .75em;
    }
}