.GameCardFreeSquare__settings-btn {
  @include no-button-style;
  color: $color;
  cursor: pointer;

  &:hover {
    background-color: transparent;
    color: $green;
  }
}
.GameCardFreeSquare {
  @include mobile-only {
    .fa-cog {
      font-size: 20px;
    }
  }
}
