.GameListItem
{
    list-style: none;
    padding: .2em;
    margin: 0;// 0 .25em;
    
    .GameListItem
    {
        font-size: .9em;
    }
}
.GameListItem__header
{
    display: flex;
    justify-content: space-between;

    button
    {
        @include padding(horizontal,.4em);
    }
}
.GameListItem__title
{
    font-weight: bold;
    font-size: 1.1em;
    color: inherit;
}

span.GameListItem__title
{
    cursor: pointer;
}

.GameListItem__copy-btn
{
    @include no-button-style;
    cursor: pointer;
    color: $color;
    background: transparent !important;
}